.footer {

  /* align-items: end;
  display: flex; */
  background-color: gray;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  position: fixed;

  /* margin-bottom: 0px; */
}
